/* Главная*/
*
{
    font-family: "Lexend Deca", sans-serif;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 300;
}
a
{
    text-decoration: none;
    color: black;
}
.logo
{
    width: 30px;
}
.container
{
    max-width: 1300px;
    margin: 0 auto;

}
.container__header
{
    display: flex;
    justify-content: space-between;
    color: rgb(214, 45, 45);
    border-bottom: 2px solid darkred;
    align-items: center;
    flex-wrap: wrap;
}
.profile
{
    display: flex;
    align-items: center;
    gap: 10%;
    margin-right: 9%;
}
.name
{
    font-family: "Lexend Deca", sans-serif;
    font-family: "Architype Schwitters W90";
    font-size: 50px;
}
.monsu
{
    font-family: "Stick No Bills", sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
}
.nav__list
{
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;

}
.nav__link
{
    color: rgb(214, 45, 45);
    text-decoration: none;
    font-size: 23px;
    font-family: "Architype Schwitters W90";
    transition: 0.5s;

}
.nav__link:hover
{
    text-decoration: underline;
}

/* Портфолио */

.card
{
   max-width: 35%;
   border: 1px solid black;
   padding: 10px;
   border-radius: 3%;
   transition: 0.5s;
   margin-top: 3%;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.card__img
{
    width: 100%;
    border-radius: 3%;
    height: 200px;
    object-fit:contain;
}
.container__cards
{
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}

/* Плейлисты */

audio {
    filter:   drop-shadow(0.2rem 0.4rem 0.1rem rgb(0, 221, 225)) contrast(60%) invert(100%);

    width: 500px;
    height: 25px;
}
.playlist__item
{
    border-left: 2px solid rgb(214, 45, 45);
    list-style: none;
    padding-left: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: 0;
}
.playlist__list
{
    margin: 0;
    padding: 0;
}
.playlist__item:hover
{
    transform: scale(1.05);
} 

/* Клеерс */

.container__clayers
{
    display: flex;
    gap: 50px;
}
.clayers__img
{
    width: 300px;
    border-radius: 10px;
}

/* Адаптивная верстка */

@media (max-width: 750px)
{
    .container__header
    {
        flex-direction: column;
    }
    .nav__list
    {
        gap: 10px;
    }
    .card
    {
        max-width: 100%;
    }
    .container__clayers
    {
        flex-direction: column;
    }
    audio 
    {
        width: 100%;
    }
    iframe
    {
        width: 100%;
    }
}