*
{
    font-family: "Lexend Deca", sans-serif;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: black;
}
.logo
{
    width: 30px;
}
.container
{
    max-width: 1300px;
    margin: 0 auto;

}
.container__header
{
    display: flex;
    justify-content: space-between;
    color: rgb(214, 45, 45);
    border-bottom: 2px solid darkred;
    align-items: center;
}
.profile
{
    display: flex;
    align-items: center;
    gap: 10%;
    margin-right: 9%;
}
.name
{
    font-family: "Lexend Deca", sans-serif;
    font-family: "Architype Schwitters W90";
    font-size: 50px;
}
.monsu
{
    font-family: "Stick No Bills", sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
}
.nav__list
{
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;

}
.nav__link
{
    color: rgb(214, 45, 45);
    text-decoration: none;
    font-size: 23px;
    font-family: "Architype Schwitters W90";
    transition: 0.5s;

}
.nav__link:hover
{
    text-decoration: underline;
}

.card
{
   max-width: 35%;
   border: 1px solid black;
   padding: 10px;
   border-radius: 3%;
   transition: 0.5s;
   margin-top: 3%;
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.card__img
{
    width: 100%;
    border-radius: 3%;
    height: 200px;
    object-fit:contain;
}
.container__cards
{
    display: flex;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}
audio {
    filter: sepia(0%) saturate(70%) grayscale() contrast(99%) invert(12%);
    width: 500px;
    height: 25px;
}
.audio__list
{
    list-style: none;
    margin: 0;
    padding: 0;
 
}
h4
{
    margin: 10px;
    padding: 0;
}
.container__clayers
{
    display: flex;
    gap: 50px;
}
.clayers__img
{
    width: 300px;
    border-radius: 10px;
}