*
{
    font-family: "Lexend Deca", sans-serif;
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 300;
}
.container
{
    max-width: 1300px;
    margin: 0 auto;

}
.container__header
{
    display: flex;
    justify-content: space-between;
    color: rgb(214, 45, 45);
    border-bottom: 2px solid darkred;
}
.name
{
    font-family: "Lexend Deca", sans-serif;
    font-family: "Architype Schwitters W90";
    font-size: 50px;
}
.monsu
{
    font-family: "Stick No Bills", sans-serif;
    font-size: 50px;
    letter-spacing: 10px;
}
.nav__list
{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;

}
.nav__link
{
    color: rgb(214, 45, 45);
    text-decoration: none;
    font-size: 23px;
    font-family: "Architype Schwitters W90";

}
.nav__link:hover
{
    text-decoration: underline;
}
.clayers
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.clayers__title
{
    text-align: center;
    font-size: 80px;
}